<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="master.html" />
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>${title}</title>


</head>
<body>
<div class ="page-headder">
  <ul class ="nav nav-pills pull-right">
    <li role="presentation"><a href="${tg.paginate.get_href(1)}">Refresh</a></li>
    <li role="presenation"><a href="${tg.url('/search_page')}">New Search</a></li>
  </ul>
  <h2>Number of Proteins: ${count}</h2>
</div>

  <div class= "table-responsive">
<table class="table table-hover ">
  <thead>
    <tr>
        <th class ='text-center'><a href="${tg.paginate.get_href(1,order='id')}">Number</a></th>

        <th class ='text-center'><a href="${tg.paginate.get_href(1,order='gi')}">GI Number</a></th>
        <th class ='text-center'><a href="${tg.paginate.get_href(1,order='accesion')}">Accession</a></th>
        <th class ='text-center'><a href="${tg.paginate.get_href(1,order='protein_name')}">Name</a></th>
        <th></th>
    </tr>
  </thead>   
  <tbody>
    <tr py:for="p in proteins">
          <td class ='text-center'>${p.id}.</td>
          <td class ='text-center'><a href="${tg.url('/protein', query=p.gi, mode='GI')}">${p.gi}</a></td>
          <td class ='text-center'><a href="${tg.url('/protein', query=p.accesion, mode='Accession')}">${p.accesion}</a></td>
          <td class ='text-center'>${p.protein_name}</td>
    </tr>
  </tbody>
</table>
<ul class="pagination">
  <li py:for="page in tg.paginate.pages">
    <a href="${tg.paginate.get_href(page)}" py:content="page"/>
  </li>
</ul>
<br/>


</div>
</body>
</html>
