<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="master.html" />
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>${title}</title>


</head>
<body>
  <div class ="page-headder">    
  <h2>Protein Search</h2>
  <div align="center">
  <h3>Search For A Protein Using the GI Number or the Accession.</h3>
  </div>
</div>
<h1> </h1>


  <div class="container">
    <div align='center'>
      ${form()}
    </div>
    
  </div>
	
</body>
</html>
